
/* First panel CSS  */

#fplogo{
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    border: 2px solid #ffe51f;
    width: 135px;
    padding-left: 10px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #ffe51f;


} 

.linkfp{
    text-decoration: none;
    padding-left:60px ;
    padding-top: 10px;
    color: white;
}

.linktravel{
    text-decoration: none;
    padding-left:10px ;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

#travellogo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    border: 2px solid #cdcdcd;
    width: 135px;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #cdcdcd;
 
} 

#logobar{
    display: flex;
    padding-top: 10px;
    
}

#address-bar{
    display: flex;
    font-size: normal;
    justify-content: end;
    align-items: center;
    padding-left: 500px;
    padding-top: 10px;
    font-family:Roboto, Arial, sans-serif;
    font-weight: 700;
    

}

.abc{
    display: flex;
    text-decoration: none;
    text-align: right;
    color:#1254E7;
    font-weight: bold;
}

/*Second panel CSS*/

#sec-panel{
    display: flex;
}

#searchpanel{
    display: flex;
    padding-left: 20px;
    border: 2px solid #1254E7;
    height: 40px;
    border-radius: 15px;
    margin-top: 18px;
    margin-left: 95px;
}

#search-bar{
    background-color: transparent;
    font-family:Roboto, Arial, sans-serif;
    border-width: 0px;
    width: 865px;
    padding-left: 10px;
    outline: none;
   
}

#search-btn{
    background-color: transparent;
    display: flex;
    align-self: center;
  
   
}

/* Login Button css */

#login-btn-cntr{
    align-self: center;
    padding-left: 48px;
    padding-top: 17px; 
    
}

.login-btn-link{
   
    text-decoration: none;
    color: #333333;
    align-self: center;
    display: flex;
    
}

.login-btn{
   padding-top: 4px;
   padding-left: 7px;
   text-decoration: none;
    color: #333333;
   align-self: center;
   
    
}

.sign-in{
    padding-bottom: 10px;
    padding-top: 5px;
}

.sign-in a{
    text-decoration: none;
    color: #333333;
}

.angle-down-btn{
   align-self: center;
   padding-left: 10px;
   padding-top: 8px;
}

.angle-down-btn img{
    transition:  transform 0.4s ease-in-out;
  transform-origin:center;
 
}

#login-btn-cntr:hover .angle-down-btn img{
    transform:rotate(180deg);
}

.opt-login{
    text-decoration: none;
    color: #333333;
    font-size: larger;
    margin-left: 30px;
    display: flex ;
    gap: 18px;
    cursor: pointer;
    transition: 0.5s;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 6px;
    
    
}

.opt-div{
    padding-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    color: #333333;
    padding-bottom: 3px;
    
    
  
}

.opt-div img{
    display: flex;
    align-items: center;
}

.opt-div:hover{
    background: linear-gradient( to right,
    rgba(25, 105, 233, .65) 5%,
    rgba(24, 95, 210, 0.40) 40%,
    rgba(28, 101, 219, 0.15) 80%,
    rgba(23, 100, 223, 0) 90%   
    ); 
    
}

.login-dropdown{
    display: none;
    justify-self: center;
    padding-top: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 12px;
    width: 280px;
    top: 100%;
    right: 0;
    box-shadow: 2px 2px 2px 2px rgb(209, 204, 204);
    height: 555px;
     z-index: 1000;

}

#login-div:hover .login-dropdown{
    display: block;
}

#login-div{
    cursor: pointer;
   position: relative;
    display: flex;
   height: 42px;
   
   
}

pre{
    display: inline;
    font-size: larger;
    font-weight: bolder;
    color: #1254E7;
    
}

.sign-in{
    text-decoration: none;
    color: #333333;
    font-size: larger;
    padding-left: 35px;
    cursor: pointer;
    
}

/* More Button */

#more-btn-cntr{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 14px;
    cursor: pointer;
}

.more-btn{
    text-decoration: none;
    color: #333333;
    display: flex;
    padding-top: 7px;
}

.more-span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.angle-down-btn-more{
   align-self: center;
   padding-left: 10px;
   padding-top: 10px;
}

.angle-down-btn-more img{
    transition:  transform 0.4s ease-in-out;
  transform-origin:center;
 
}

#more-btn-cntr:hover .angle-down-btn-more img{
    transform:rotate(180deg);
}

.more-dpd-menu{
     display: none;
    justify-self: center;
    padding-top: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 12px;
    width: 280px;
    height: 240px;
    top: 145px;
    left:975px;
    box-shadow: 2px 2px 2px 2px rgb(209, 204, 204);
    z-index: 1000;

}

#more-btn-cntr:hover .more-dpd-menu{
    display: block;
}

p{
    font-weight: bolder;
    padding-left: 32px;
}

#cart-btn-cntr{
    display: flex;
}

.cart-btn{
    display: flex;
    text-decoration: none;
    color: #333333;
    padding-left: 15px;
    gap: 12px;
    align-items: center;
    padding-top: 20px;
    
}

/* Select option menu */

#sel-opt-btn-cntr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    cursor: pointer;
    
}

.sel-opt-btn{
    display: inline-flex;
    flex-direction: column;
    row-gap: 6px;
    width: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    
   
}

#sel-opt-btn-cntr a{
    text-decoration: none;
    color: #333;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transition-duration: 0s;
}

.sel-opt-btn a{
    cursor: pointer;
}

#sel-opt-btn-cntr a:hover{
   border-bottom: 5px solid rgb(18, 84, 231);
    border-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.sel-opt-btn img{
    padding-left: 10px;
    cursor: pointer;
}

#sel-opt-btn-cntr .sel-opt-btn:hover{
    background: linear-gradient(to top,
    rgba(57, 125, 236, 0.401) 5%,
    rgba(25, 89, 193, 0.265) 40%,
    rgba(28, 101, 219, 0.15) 80%,
    rgba(23, 100, 223, 0) 90%  
    );
}

.toys{
    margin-right: 5px;
   
}

body{
    background-color: white;

}

body::-webkit-scrollbar{
    display: none;
}

/* The Slides */

#slider-cntr{
    display: flex;
    width: 1330px;
    padding-left: 25px;
    justify-content: space-evenly;
    height: 260px;
    overflow: hidden;
    justify-self: center;
} 

.slides{
    display:flex;
    gap: 10px;
    animation: slide 50s linear infinite;
    width: calc(460px*12);
}

.slides img{
    border-radius: 15px;
    margin-top: 10px;
    
}

@keyframes slide{
    from{
        transform: translateX(-2760px);
    }
    to{
        transform: translateX(0px);
    }
}

/* The other ads */

#oth-ads{
    width: 1330px;
    height: 305px;
    justify-self: center;
    display: flex;
    
}

#oth-ads img{
    border-radius: 20px;
}

#oth-ads div{
    display: flex;
    gap: 20px;
}

    #suggested-for-you{
        width: 1330px;
        justify-self: center;
        justify-content: space-between;
    }

    .sfy{
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 700;
        font-family:  Roboto, Arial, sans-serif;
        display: flex;
        padding-top: 16px;
        margin-left: 15px;
    }

    .sfy img{
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-top: 4px;
    } 

    .sfy-div{
        align-items: center;
        margin-left: 1030px;
        width: 60px;
        background-color: #1254E7;
        border-radius: 23px;
    }

    .sfy-phones{
        display: flex;
        gap: 26px;
        text-decoration: none;
        color: black;
        font-family:    arial;
    }

    .sfy-phones div{
        display: flex;
        padding-top: 16px;
        flex-direction: column;
        row-gap: 10px;
        
    }

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

    j{
        font-weight: 600;
        padding-top: 23px;
        font-family:  'Inter' ,sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
        font-size: 14px;
        color: rgb(31, 31, 31);
    }

    m{  
        text-decoration: line-through;
        font-family:  Roboto, Arial, sans-serif;
        color: #716c6c;
        padding-left: 4px;
        margin-left: 4px;
    }

    .sp-ph{
        padding-left: 14px;
        padding-top: 2px;
    }

    #grabgone{
       background-color: #F25177;
       width: 1330px;
       height: 360px;
       justify-self: center;
       margin-top: 20px;
       border-radius: 18px;
       z-index: 0;
    }

    .ad-cntr{
        background-color:white;
        width: 1280px;
        height: 280px;
        border-radius: 10px;
        justify-self: center;
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        
    }   

    .ad-cntr-links{
        width: 320px;
        height: 255px;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        align-self: center;
        border-radius: 10px;
        margin-inline-start: 16px;
        writing-mode: horizontal-tb;
        margin-inline-end: 16px;
        
        
    }
    
    .gg-ads{
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-self: center;
        flex-direction: column;
        z-index: 3;
        row-gap: 4px;
    }

    .ad-text{
        color: white;
        font-size: 22px;
        font-weight: 550;
        font-family:  Roboto, Arial, sans-serif;
        padding-left: 22px;
        padding-top: 20px;
    }

    .gg-ads-text{
        font-family:  Roboto, Arial, sans-serif;
        font-weight: bolder;
    }

    .gg-link-cntr{
        display: flex;
        justify-content: space-evenly;
        z-index: 1;
        text-decoration: none;
        color: black;
        font-family:  Roboto, Arial, sans-serif;
        padding-top: 7px;
    }

    #br-in-sl-cntr{
        display: flex;
        width: 1330px;
        justify-self: center;
        margin-top: 20px;
        flex-direction: column;
    }

    .brinsl-logo{
        font-family:  Roboto, Arial, sans-serif ;
        color: black;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        width: 1330px;
        padding-left: 22px;
    }

    .brinsl-Bad{
        margin-top: 8px;
    }

    .brinsl-Bad img{
         border-radius: 18px;
    }

    .brinsl-oth-ads{
        display: flex;
        margin-top: 20px;   
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .brinsl-ads img{
        width: 240px;
        height: 350px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }

    .brinsl-ads{
        margin-inline-start: 28px;
    }

    #logo-btns-cntr{
        display: flex;
        margin-top: 24px;
        
    }

    .logo-btn{
        margin-inline: 30px ;
        writing-mode: horizontal-tb;    
    }

    .logo-btn-clk{
        display: flex;
        flex-direction: column;
        row-gap: 6px;
         text-decoration: none;
        color: black;
    }

    .logo-btn-txt{
        font-family: Roboto, Arial, sans-serif ;
        font-size: 15px;
        font-weight: 550;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
    }

    #lgin-btn{
        display: flex;
        align-items: center;
        width: 200px;
        height: 75px;
        background-color: #1254E7;
        justify-content: center;
        text-align: center;
        border-radius: 60px;
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    #lgin-btn-cntr{
        display: flex;
        width: 1330px;
        justify-content: center;
        margin-top: 30px;
        
    }

    #lgin-btn-cntr a{
        text-decoration: none;
    }

    button{
        width: 150px;
        border-radius: 14px;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-size: large;
        margin-left: 592px;
        margin-top: 30px;
        cursor: pointer;
    
    }

    #final-txt h1{
        color: #878787;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 25px;
    }

    #final-txt h2{
        color: #878787;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 18px;
    }

    txt{
         color: #878787;
         font-size: 15px;

    }

    .headings{
        color: #595555;
        font-size: 17px;
    }

    footer{
        background-color: rgb(47, 44, 44);
        height: 360px;
        width: 100%;
    }

    #end-links{
        display: flex;
        font-size: 13px;
        
    }

    #end-links a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }

    .about, .gp-cmp, .help, .con-ply, .mail-us, .roa{
        color: #878787;
        font-family: Roboto, Arial, sans-serif ;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        margin-inline: 18px;
        
    }

    .about{
        padding-left: 30px;
    }

    .roa{
        padding-right: 30px;
    }

    .mail-add{
         color: white;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 13px;
        font-weight: 600;
    }

    .re-direct{
        display: flex;
        column-gap: 10px;
    }

     #end-links a:hover{
            text-decoration: underline;
     }

     #end-btn-links{
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        
     }

     .seller{
        display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#878787 ;
        gap: 10px;
        margin-top: 17px;
     }

     #end-btn-links a{
        text-decoration: none;
     }


     .sellers{
          display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#ffffff ;
        gap: 10px;
     }

     .end-tt{
          display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#ffffff ;
        gap: 10px;
        font-size: 15px;
     }

     html{
        scroll-behavior: smooth;
     }