body{
    background-color: rgb(180, 180, 180);
}

#login-cntr{
    display: flex;
    justify-self: center;
    width: 1100px;
    height: 650px;
    background:linear-gradient(to right,
    #4580ff 40%,
    white 40%
    );
    margin-top: 50px;
}

.login-div{
    display: flex;  
    width: 432px;
    flex-direction: column;
    
}

span{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family:  Roboto, Arial, sans-serif;
    margin-left: 35px;
    margin-top: 50px;
    line-height: 1.6;
}

.txt2{
    color: white;
    font-family:  Roboto, Arial, sans-serif;
    font-size: 24px;
    font-weight:300;
}

.lgn-img{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

#lgn-det-cntr{
    display: flex;
    width: 655px ;
}

.input-box {
  position: relative;
  display: flex;
  height: 40px;
  margin-left: 70px;
  margin-top: 100px;
  flex-direction: column;
  
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid #999; */
  outline: none;
  border-width: 0;
}

/* label style */
.input-box label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #777;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
  background: white;
  padding: 0 5px;
}

/* animation on focus OR when text is present */
.input-box input:focus + label,
.input-box input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #777;
}

.error-msg{
    margin-left: 15px;
    color: rgb(255, 71, 71);
    font-family:  Roboto, Arial, sans-serif;
    display: none;
}

.hr1{
    width: 400px;
    margin-left: 10px;
}

.terms{
    color: #777;
    font-size: 13px;
    font-weight: 100;
    font-family:  Roboto, Arial, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    
}

.terms a{
    text-decoration: none;
}

button{
    background-color: #fb641b;
    color: white;
    font-size: 20px;
    font-family:  Roboto, Arial, sans-serif;
    font-weight: bold;
    border-width: 0;
    padding: 15px 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.sign-up{
    margin-top: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-family:  Roboto, Arial, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    margin-left: 14px;
    
}

.sign-up a{
    text-decoration: none;
    color: #4580ff;
}

 footer{
        background-color: rgb(47, 44, 44);
        height: 360px;
        width: 100%;
        margin-top: 40px;
    }

    #end-links{
        display: flex;
        font-size: 13px;
        
    }

    #end-links a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }

    .about, .gp-cmp, .help, .con-ply, .mail-us, .roa{
        color: #878787;
        font-family: Roboto, Arial, sans-serif ;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        margin-inline: 18px;
        
    }

    .about{
        padding-left: 30px;
    }

    .roa{
        padding-right: 30px;
    }

    .mail-add{
         color: white;
        font-family: Roboto, Arial, sans-serif ;
        font-size: 13px;
        font-weight: 600;
    }

    .re-direct{
        display: flex;
        column-gap: 10px;
    }

     #end-links a:hover{
            text-decoration: underline;
     }

     #end-btn-links{
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        
     }

     .seller{
        display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#878787 ;
        gap: 10px;
        margin-top: 17px;
     }

     #end-btn-links a{
        text-decoration: none;
     }


     .sellers{
          display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#ffffff ;
        gap: 10px;
     }

     .end-tt{
          display: flex;
        margin-inline: 40px;
        align-items: center;
        color:#ffffff ;
        gap: 10px;
        font-size: 15px;
     }

     html{
        scroll-behavior: smooth;
     }